<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">EAT DA BURGER</h1>
    <p class="lead"> add a burger. eat a burger. be the burger. </p>
  </div>
</div>

<div class= "container">
  <div class="row yummy">
    <div class="col">
    <h2>ADD A BURGER</h2>

    <form class="create-form">
      <div class="form-group">
        <label for="ca">BURGER NAME:</label>
        <input type="text" class="ca" name="burger">
      </div>

      <div class="form-group">
        <label for="devoured">DEVOURED?</label><br>
        <input type="radio" name="devoured" value="1" checked> ALREADY FINSIHED THAT ONE!<br>
        <input type="radio" name="devoured" value="0"> PLEASE EAT ME!
      </div>

      <button type="submit" class="btn btn-dark">ADD A BURGER</button>
    </form>
    </div>

    <div class="col">
      <img src="https://cdn1.iconfinder.com/data/icons/restaurants-and-food/98/bugrer-512.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col yummy">
      <h2>READY TO EAT</h2>
        <ul style="list-style-type: none;">  
          {{#each burgers}}    
            {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}   
          {{/each}}
        </ul>
    </div>

    <div class="col yummy">
      <h2>ALREADY FINSHED</h2>
        <ul style = "list-style-type: none">
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>
</div>